<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--Contenido de la Página-->
    <div layout:fragment="contenido" class="contenido">
        <section class="container bg-fp-secondary p-4 rounded-4 shadow shadow-4 mb-2 mt-4">

            <div class="container-titulo">
                <h3>Listado de Usuarios</h3>
            </div>
            <hr>
            <div class="container-tabla">
                <table id="tablaUsuarios" class="table table-striped table-hover table-bordered table-sm"
                    style="width: 100%;">
                    <thead>

                        <!-- Tablas -->
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>E-Mail</th>
                            <th>Rol</th>
                            <th width="150px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="us : ${usuarios}">
                            <td th:text="${us.id}"></td>
                            <td th:text="${us.username}"></td>
                            <td th:text="${us.email}"></td>
                            <td>
                                <span th:each="rol, iterStat : ${us.roles}">
                                    <span th:text="${rol.nombre}"></span>
                                    <span th:if="!${iterStat.last}">, </span> <!-- Agrega una coma entre roles -->
                                </span>
                            </td>
                            <td>
                                <!-- Ver Contraseña -->
                                <button th:onclick="verContraseña([[${us.id}]])"
                                    class="btn btn-outline-primary float-end shadow rounded border border-1 border-primary ms-2"
                                    data-bs-toggle="tooltip" data-bs-placement="botton" title="Ver contraseña">
                                    <i class="fa-solid fa-file-alt"></i>
                                </button>
                                <!-- Editar -->
                                <button th:onclick="editar([[${us.id}]])"
                                    class="btn btn-outline-warning float-end shadow rounded border border-1 border-warning ms-2"
                                    data-bs-toggle="tooltip" data-bs-placement="botton" title="Editar usuario">
                                    <i class="fa-solid fa-user-pen"></i>
                                </button>
                                <!-- Eliminar -->
                                <button th:onclick="eliminar([[${us.id}]])"
                                    class="btn btn-outline-danger float-end shadow rounded border border-1 border-danger ms-2"
                                    data-bs-toggle="tooltip" data-bs-placement="botton" title="Eliminar usuario">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!--Script de la Página-->
    <script th:src="@{/js/usuarios.js}" th:fragment="js"></script>
</body>

</html>